.NavBar {
  height: 100vh;
  position: fixed;
  left: 0;
  width: 20vw;
  background-color: #161e25;
  color: white;
  font-family: "Inter", sans-serif;
  .logo {
    margin: 55px 0px 0px 30px;
  }
  .navArea {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 50px;

    > a {
      text-decoration: none;
      color: white;
      padding-top: 7px;
      font-weight: 600;
    }
  }

  .user {
    width: 20vw;
    position: fixed;
    bottom: 30px;
  }
}
